<!DOCTYPE html>
<html>
    <head><title>Sumbit Database</title></head>
    <body>
        <h2>Sumbit Form</h2>

        {% if error %}
            <p style="color:red;"><strong>ERROR:</strong> {{ error }}</p>
        {% endif %}

        <form method="post" action="/">
            <label>Name: <input type="text" name="name" required></label><br><br>
            <label>Email: <input type="email" name="email" required></label><br><br>
            <label>Message: <textarea name="message" required></textarea></label><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>